@use '@app/styles/global/variables' as *;

.text {

  &-h1 {
    font-size: $fz-xxl;
    line-height: $lh-title;
  }

  &-h2 {
    font-size: $fz-xl;
    line-height: $lh-title;
  }

  &-h3 {
    font-size: $fz-l;
    line-height: $lh-title;
  }

  &-h4 {
    font-size: $fz-m;
    line-height: $lh-title;
  }

  &-h5 {
    font-size: $fz-s;
    line-height: $lh-title;
  }

  &-bold {
    font-weight: 700;
  }

  &-semi-bold {
    font-weight: 600;
  }

  &-medium {
    font-weight: 500;
  }

  &-regular {
    font-weight: 400;
  }

  &-light {
    font-weight: 300;
  }

  &-xs {
    font-size: $fz-xs;
  }

  &-s {
    font-size: $fz-s;
  }

  &-m {
    font-size: $fz-m;
  }

  &-l {
    font-size: $fz-l;
  }

  &-xl {
    font-size: $fz-xl;
  }

  &-xxl {
    font-size: $fz-xxl;
  }

  &-primary {
    color: $color-text;
    background-color: $color-bg;
  }

  &-secondary {
    color: $color-title;
  }

  &-alert {
    color: $color-accent;
  }

  &-action {
    color: $color-accent;
  }
}
