$font-family: "PT Sans";
$second-family: "Bebas Neue";

$fz-xs: 14px;
$fz-s: 16px;
$fz-m: 20px;
$fz-l: 25px;
$fz-xl: 56px;
$fz-xxl: 200px;

$fw-normal: 400;
$fw-bold: 700;

$lh-date-desktop: 0.8em;
$lh-title: 1.2em;
$lh-text-mobile: 1.45em;
$lh-text-desktop: 1.5em;

$tracking-s: -0.02em;
$tracking-m: normal;

$color-text: var(--color-text);
$color-title: #3877ee;
$color-accent: #f178b6;
$color-bg: var(--color-bg);
$color-separator: #c7cdd9;

$mobile-width: 340px;
$tablet-width: 768px;
$desktop-width: 1440px;
