@use './styles/global/variables';
@use './styles/global/mixins';
$color-text-soft: rgba(var(--color-text), 0.1);

.app {
  position: relative;
  max-width: variables.$desktop-width;
  padding-block-start: 60px;

  @include mixins.breakpoint(variables.$desktop-width) {
    height: 100vh;
    padding-block-start: 170px;
    border-inline-width: 1px;
    border-inline-style: solid;
    border-color: var(--color-separator);

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      top: 480px;
      left: 0;
      background-color: var(--color-separator);
    }

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: var(--color-separator);
    }
  }
}

.title {
  font-size: variables.$fz-m;
  max-width: 123px;
  text-align: start;
  margin: 0;
  padding-inline-start: 20px;

  @include mixins.breakpoint(variables.$tablet-width) {
    padding-inline-start: 40px;
    font-size: variables.$fz-l;
  }

  @include mixins.breakpoint(variables.$desktop-width) {
    position: absolute;
    max-width: 353px;
    padding-inline-start: 80px;
    font-size: variables.$fz-xl;

    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 120px;
      left: -1.5px;
      top: 8px;
      background-image: linear-gradient(to bottom, #3877EE, #EF5DA8);
    }
  }
}

.container {
  padding: 59px 20px;

  @include mixins.breakpoint(variables.$tablet-width) {
    padding: 100px 48px 48px;
  }

  @include mixins.breakpoint(variables.$desktop-width) {
    padding: 170px 78px 78px;
  }
}
