@use '@app/styles/global/variables';
@use '@app/styles/global/mixins';

.circle {
  position: relative;
  margin-inline: auto;
  padding-block: 56px;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--color-border);
  }

  @include mixins.breakpoint(variables.$tablet-width) {
    width: 530px;
    height: 530px;
    margin-block-start: 46px;

    &:after {
      content: none;
    }
  }

  @include mixins.breakpoint(variables.$desktop-width) {
    margin-block-end: 96px;
  }
}

.outerCircle {
  position: absolute;
  display: none;
  inset: 0;
  margin-inline: auto;
  border-radius: 50%;
  border-color: var(--color-border);
  border-width: 1px;
  border-style: solid;
  z-index: 40;

  @include mixins.breakpoint(variables.$tablet-width) {
    display: block;
  }

  @media (prefers-color-scheme: dark) {
    border-color: var(--color-border);
  }

}

.innerContainer {
  position: absolute;
  inset: 0;
  transform-origin: center center;
  will-change: transform;
}

.dot {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    background-color: variables.$color-text;
    transition: all .4s ease-in-out;
  }

  & span > span {
    opacity: 0;
    font-size: variables.$fz-m;
  }

  &:hover:not(.active) {
    & span {
      width: 56px;
      height: 56px;
      border-color: var(--color-border);
      background-color: variables.$color-bg;
    }

    & span > span {
      opacity: 1;
    }
  }

  &.active {

    & span {
      width: 56px;
      height: 56px;
      border-color: var(--color-border);
      background-color: variables.$color-bg;
    }

    & span > span {
      opacity: 1;
    }
  }
}

.navButtons {
  position: absolute;
  display: flex;
  gap: 12px;
  margin-block-end: 11px;
  flex-direction: column;
  text-align: start;
  bottom: -250px;
  left: 20px;


  @include mixins.breakpoint(variables.$tablet-width) {
    left: -100px;
  }

  @include mixins.breakpoint(variables.$desktop-width) {
    left: -375px;
    bottom: -50px;
    gap: 20px;
  }

  & > div {
    display: flex;
    gap: 20px;
  }
}

.navBtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid variables.$color-text;
  background-color: variables.$color-bg;
  color: variables.$color-text;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    height: 6px;
  }

  &:hover {
    background-color: #ffffff;
  }

  &:active {
    background-color: #ffffff;
  }

  @include mixins.breakpoint(variables.$tablet-width) {
    width: 40px;
    height: 40px;

    & > svg {
      height: 10px;
    }
  }

  @include mixins.breakpoint(variables.$desktop-width) {
    width: 50px;
    height: 50px;

    & > svg {
      height: 10px;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      background-color: #ff6b5b;
    }
  }
}

.numbersContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  @include mixins.breakpoint(variables.$tablet-width) {
    gap: 120px;
  }
}

.rangeEnd {
  color: variables.$color-accent;
}

.categoryName {
  position: absolute;
  left: 84%;
  font-size: variables.$fz-m;
  text-align: left;
  background: transparent;
}

.count {
  font-size: variables.$fz-xs;
}
